body {
    background-color: lightblue;
    font-family: "Special Elite", Helvetica;
    color: dimgray;
    text-align: center;
}

.logo {max-width: 300px;
}

.heading {
    text-align: center;
    font-size: 3rem;
}

.quiz-area {
    background-color: white;
    box-sizing: border-box;
    width: 80%;
    height: 35vh;
    max-height: 500px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;

}

#wronga {
    color: lightcoral;

}
#righta {
    color: lightgreen;
}
.answer-area {
    background-color: blue;
    box-sizing: border-box;
    width: 80%;
    height: 35vh;    
    max-height: 500px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;

}
.player-score {
    background-color: blueviolet;
    width: 80%;
    display: inline-block;
}
.footer {
    font-size: x-small;
}

.btn {
    font-family: "Special Elite", Helvetica;
    color: dimgray;
    margin: 30px;
}