body {
    background-color: lightblue;
    font-family: "Special Elite", Helvetica;
    color: #000000;
    text-align: center;
}

button {
    font-family: "Special Elite", Helvetica;
    padding: 8px;
}

.logo {max-width: 200px;
}

#header {
    text-align: center;
    font-size: 40px;
    width: 80%;

}

.welcome-area {
    background-color: white;
    box-sizing: border-box;
    font-size: 20px;
    width: 80%;
    height: 13vh;
    max-height: 500px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;

}

.question-area {
    background-color: white;
    box-sizing: border-box;
    font-size: 18px;
    width: 80%;
    height: 10vh;
    max-height: 500px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;

}

.answer-area {
    background-color: white;
    box-sizing: border-box;
    font-size: 18px;
    width: 80%;
    height: 10vh;
    max-height: 500px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;

}

.results-area {
    background-color: white;
    box-sizing: border-box;
    font-size: 18px;
    width: 80%;
    height: 100vh;
    max-height: 600px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;

}

#endPicture {
    align-items: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 15px;
}

#wronga {
    color: lightcoral;

}
#righta {
    color: lightgreen;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: lightcoral;
}

.player-score {
    background-color: white;
    width: 80%;
    height: 15vh;    
    max-height: 500px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    display: inline-block;
}
.footer {
    font-size: 12px;
    padding: 2%;
}

.btn {
    font-family: "Special Elite", Helvetica;
    color: #000000;
    border-radius: 3px;
    margin: 15px;
    padding: 10px;
}

.btn:hover {
    background-color: #000000;
    color: white;
}

.answer-btn {
    font-family: "Special Elite", Helvetica;
    color: #000000;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}

#answer-btn:hover {
    background-color: #000000;
    color: white;
}


.hide {
    visibility: hidden;
}

.unhide {
    visibility: visible;
}

/* Media queries and optimisation for mobile screens 800px and down */

@media screen and (max-width: 950px) {
    .logo {
        max-width: 100px;
    }
    #header {
        position: relative;
        font-size: 20px;
    }
    .results-area {
        font-size: 15px;
        height: 50vh;
    }
    #endPicture {
        width: 150px;
        height: 150px;

    }
    .welcome-area {
        background-color: white;
        box-sizing: border-box;
        font-size: 15px;
        width: 80%;
        height: 28vh;
        max-height: 900px;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 2%;
    
    }  
    .answer-area {
        background-color: white;
        box-sizing: border-box;
        font-size: 15px;
        width: 80%;
        height: 10vh;
        max-height: 900px;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 2%;
    
    }  
    .answer-area {
        background-color: white;
        box-sizing: border-box;
        font-size: 20px;
        width: 80%;
        height: 16vh;
        max-height: 500px;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 2%;
    
    }
    button {
        font-family: "Special Elite", Helvetica;
        padding: 8px;
    }
    .results-area {
        background-color: white;
        box-sizing: border-box;
        font-size: 18px;
        width: 80%;
        height: 50vh;
        max-height: 900px;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 2%;
    
    }
    
}