body {
    background-color: lightblue;
    font-family: "Special Elite", Helvetica;
    color: dimgray;
    text-align: center;
}

.logo {max-width: 300px;
}

#heading {
    text-align: center;
    font-size: 3rem;
}

.question-area {
    background-color: white;
    box-sizing: border-box;
    font-size: 20px;
    width: 80%;
    height: 15vh;
    max-height: 500px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;

}

.answer-area {
    background-color: white;
    box-sizing: border-box;
    font-size: 20px;
    width: 80%;
    height: 15vh;
    max-height: 500px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;

}

#wronga {
    color: lightcoral;

}
#righta {
    color: lightgreen;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: lightcoral;
}

.player-score {
    background-color: white;
    width: 80%;
    height: 15vh;    
    max-height: 500px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;;
    display: inline-block;
}
.footer {
    font-size: x-small;
    padding: 2%;
}

.btn {
    font-family: "Special Elite", Helvetica;
    color: dimgray;
    border-radius: 3px;
    margin: 15px;
    padding: 5px;
}

.btn:hover {
    background-color: gray;
    color: white;
}

#answer-btn {
    font-family: "Special Elite", Helvetica;
    color: dimgray;
    border-radius: 3px;
    margin: 15px;
    padding: 5px;
}

#answer-btn:hover {
    background-color: gray;
    color: white;
}


.hide {
    visibility: hidden;
}

.unhide {
    visibility: visible;
}